<% if @books.blank? %>
<p>There are not any books currently in the system.</p>
<% else %>
<p>These are the current books in our system</p>
<table>
  <tr>
    <th>Book Name</th>
    <th>Price</th>
    <th>Catergory</th>
  </tr>

  <% @books.each do |book| %>
    <tr>
      <td><%= book.name %></td>

      <td><%= book.category %></td>
    </tr>
  <% end %>
</table>
  <% end %>
<%= link_to 'New book', new_book_path %>
