<h1>Add new book</h1>
<%= form_for :book, url: books_path do |f| %>  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name%>
  </p>

 <p>
   <%= f.label :category %><br>
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', books_path %>
<%
=begin %>
<%= form_for :book, url: books_path do |f| %>
<p>
    <%= f.label :name %><br>
    <%= f.text_field :name%>
  </p>
  <p>
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </p>
<p>  <%= f.label :category %><br>
  <%= f.text_field :category %>
  </p>

<%= f.submit 'Create' %>
<%= link_to 'Back', books_path %>
<% end %>
<%
=end %>
