<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>
<%
=begin %>
<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>
<%
=end %>
<p>
  <strong>Category:</strong>
  <%= @book.category %>
</p>

<%= link_to 'Back', books_path %>
